DAW1/Lenguaje-Marcas/2ºevaluacion/schema/persona.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="datos"/>
        <xs:element name="comentario" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="nacimiento" type="xs:date"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="datos">
    <xs:complexType>
      <xs:all>
        <xs:element  name="nombre" type="xs:string"/>
        <xs:element  name="apellidos" type="xs:string"/>
        <xs:element  name="dni" type="xs:string"/>
      </xs:all>  
    </xs:complexType>  
  </xs:element>
  
</xs:schema>
